<div class="row dashboard">
    <div class="small-12 large-8 columns">
        <div class="chart-container"></div>
        <div class="chart-container-2"></div>
    </div>
    <div class="small-12 large-4 columns">
        <h5 class="text-center">Current Temperature</h5>
        <div class="callout">
            <div class="callout success second-floor-temp">
                <h5>Second Floor</h5>
                <p>72.7F</p>
                <p></p>
            </div>
            <div class="callout primary outside-temp">
                <h5>Outside Temperature</h5>
                <p>16.3F</p>
            </div>
        </div>
    </div>
</div>
