<div class="row">
    <div class="small-12 large-6 columns">
        <h3>Temperature Chart</h3>
    </div>
    <div class="small-12 large-6 columns">
        <h3>Current Temperature</h3>
    </div>
</div>