<div class="row">
    <div class="small-12 small-centered columns">
        {{#if error}}
            <div class="clearfix">&nbsp;</div>
            <div class="callout alert">
                <p>{{error.message}}</p>
                <a href="/signup">Plese sign up for an account</a>
            </div>
        {{/if}}
        <form action="/login" method="post">
            <label>
                Username:
                <input type="text" name="user">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <button type="submit" class="success button">Login</button>
            <a class="button" href="/signup">No account? Sign up!</a>
        </form>
    </div>
</div>