<div class="row">
    <div class="small-12 small-centered columns">
        <form action="/login" method="post">
            <label>
                Username:
                <input type="text" name="user">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <button type="submit" class="success button">Login</button>
        </form>
    </div>
</div>