<div class="row">
    <div class="small-12 small-centered columns">
        <form action="/signup" method="post">
            <label>
                Email:
                <input type="email" name="email">
            </label>
            <label>
                Username:
                <input type="text" name="user">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <button type="submit" class="success button">Sign Up</button>
        </form>
    </div>
</div>